


<div class="content mb-5">
<div class="col-md-12">
    <div class="card">
        <div class="card-header"><h5 class="title pt-3">Aracı Güncelle</h5>
        <div class="card-body">

            <form [formGroup]="carUpdateForm" (ngSubmit)="addUpdateCar()">
                
                <div class="form-group">
                    <div class="mb-3">
                        <label for="carName" class="form-label">Araç ID</label>
                        <input type="number" class="form-control" placeholder="Araç ID" id="carId" formControlName="carId" readonly/>
                    </div>

                    <div class="mb-3">
                        <label for="carName" class="form-label">Araç Adı</label>
                        <input type="text" class="form-control" placeholder="carName" id="carName" formControlName="carName" />
                    </div>

                    <div class="mb-3">
                        <label for="carName" class="form-label">Plaka</label>
                        <input type="text" class="form-control" placeholder="numberPlate" id="numberPlate" formControlName="numberPlate" />
                    </div>

                    <div class="mb-3">
                        <label for="carName" class="form-label">Model yılı</label>
                        <input type="number" class="form-control" placeholder="modelYear" id="modelYear" formControlName="modelYear" />
                    </div>

                    <div class="mb-3">
                        <label for="carName" class="form-label">Muayene Tarihi</label>
                        <input type="date" class="form-control" placeholder="inspectionDate" id="inspectionDate" formControlName="inspectionDate" required/>
                    </div>

                    <div class="mb-3">
                        <label for="carName" class="form-label">Ruhsat Fotoğrafı</label>
                        <input type="file" (change)="onFileSelected($event)" id="PermitImage" formControlName="PermitImage" class="form-control" placeholder="Ruhsat Fotografı" required/>


                    </div>
                   
                    
                    
                    
                    <div class="mb-3">
                        <button type="submit" class="btn btn-success">Güncelle</button>
                    </div>
                </div>
                    
            </form>
        </div>
    </div>
</div>
</div>